.container {
  width: 100%;
  margin: 0 auto;
}

.room-column {
  padding: 0;
  align-content: center;
  align-self: center;
  max-height: 534px;
}

.room-container {
  padding-bottom: 50px;
  padding-top: 30px;
}
.room-image-large {
  width: 100%;
  height: 100%;
  max-width: 432px;
  min-height: 534px;
  max-height: 534px;
  object-fit: cover;
  border: 2px solid white;
}

.rooms-row {
  margin-top: 50px;
  margin-bottom: 50px;
}

.room-heading {
  padding-right: 50px;
}

.room-text {
  padding-right: 50px;
}

.room-image-small-1 {
  width: 100%;
  height: auto;
  max-width: 432px;
  max-height: 295px;
  min-height: 295px;
  object-fit: cover;
  border: 2px solid white;
}

.room-image-small-2 {
  width: 100%;
  height: auto;
  max-width: 432px;
  max-height: 239px;
  min-height: 239px;
  object-fit: cover;
  border: 2px solid white;
}

.column-break {
  display: none;
}

@media (max-width: 1400px) {
  .room-image-large {
    height: 100%;
    max-width: 432px;
    object-fit: cover;
  }
  .room-column {
    max-width: 400px;
  }
}

@media (max-width: 1000px) {
  .room-column {
    max-width: 385px;
    min-width: 385px;
  }

  .room-image-small-1 {
    width: 100%;
    height: auto;
    max-width: 385px;
    max-height: 289px;
    min-height: 172px;
    object-fit: cover;
  }

  .room-image-small-2 {
    width: 100%;
    height: auto;
    max-width: 385px;
    max-height: 234px;
    min-height: 148.5px;
    object-fit: cover;
  }
  .room-heading {
    padding: 0;
  }

  .room-text {
    padding: 0;
  }
}

@media (max-width: 770px) {
  .room-image-small-1 {
    width: 100%;
    min-width: 100%;
    min-height: 70%;
    height: auto;
    object-fit: cover;
  }

  .room-image-small-2 {
    width: 100%;
    min-width: 100%;
    min-height: 70%;
    height: auto;
    object-fit: cover;
  }

  .room-image-large {
    min-width: 100%;
    min-height: 100%;
  }

  .column-break {
    display: grid;
  }

  .room-column {
    padding: 1px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .rooms-row {
    margin-bottom: 150px;
  }

  .room-heading {
    padding: 15px;
  }

  .room-text {
    padding: 15px;
  }
}
