.banner-container {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.BannerImage {
  width: 100%;
  display: block;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  position: relative;
  min-height: 400px;
}

.header-text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}

.image {
  position: absolute;
}

.header-textsub {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 1601px) {
  .header-text {
    font-size: 80px;
  }

  .header-textsub {
    font-size: 40px;
  }
}

@media screen and (max-width: 800px) {
  .header-text {
    font-size: 6vw;
  }

  .header-textsub {
    font-size: 4vw;
  }
}

@media screen and (max-width: 600px) {
  .header-text {
    font-size: 40px;
  }

  .header-textsub {
    font-size: 4vw;
  }
}

.sub-image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 100px;
}
