.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-left: 12%;
  margin-right: 12%;
}

.card {
  width: calc(25% - 90px);
  min-width: 250px;
  margin-bottom: 40px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.card-img-top {
  height: 264px;
}

.deleteupdate {
  display: flex;
  align-items: end;
  max-width: 248px;
}

.amendbutton {
  width: 150px;
  padding: none;
  border: none;
  background: white;
  height: 20px;
}

.amendbutton:hover {
  color: blue;
}

.cardsort {
  max-width: 264px;
}
@media screen and (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
  .card-container {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 100%;
  }
}

.team-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 5px;
  height: 30px;
  margin: 5px;
  align-content: center;
}

.team-button:hover {
  background-color: #a2dbf3;
  color: black;
}
