.social-icon {
  color: #212f3c;
  font-size: 30px;
  transition: color 0.2s;
  text-decoration: none;
  padding-left: 10px;
}

.social-icon:hover {
  color: #5809b8;
}

.footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #a2dbf3;
  margin-top: 30px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.contact:hover {
  color: #5809b8;
}

.text-center {
  margin-top: 10px;
}

.employee-features {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 7px;
  width: 75%;
  padding-left: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.employee-feature-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .employee-features {
    width: 150px;
    margin-top: 30px;
  }

  .socials {
    width: 75%;
  }
}
