.food-grid-image {
  width: 100%;
  height: auto;
}

.food-column {
  min-width: 350px;
}

.food-intro {
  padding: 3% 10% 3% 10%;
  text-align: center;
}

.food-row {
  margin-bottom: 60px;
}

.food-banner {
  position: relative;
  background-size: cover;
  background-position: center;
}

.sub-image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 30%;
}
