.food-grid-image {
    width: 100%;
    height: auto
  }
  
  .food-column {
    min-width: 350px;
  }

.food-intro {
    padding: 3% 10% 3% 10%;
    text-align: center;
}

.food-row {
    margin-bottom: 60px;
}