.food-grid-image {
  width: 100%;
  height: auto;
}

.food-column {
  min-width: 350px;
}

.food-intro {
  padding: 5% 20% 3% 20%;
  text-align: center;
}

.food-row {
  margin-bottom: 60px;
}

.sub-image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 30%;
}

.food-banner {
  padding-top: 20px;
}

@media screen and (max-width: 1000px) {
  .food-grid-image {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  .food-intro {
    padding-left: 10%;
    padding-right: 10%;
  }
}
