/* Awards */

.awards-row {
  display: table;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 50px;
}
.awards-item {
  display: table-cell;
}
.awards-item img {
  display: block;
  width: 100%;
  max-height: 150px;
}

.awards-carousel {
  display: none;
}

/* Values */

.values-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 20px;
}

.values-wrapper {
  justify-self: center;
  padding: 4%;
  position: relative;
}

.values-wrapper > h3 {
  position: absolute;
  font-size: 1.5vw;
  color: white;
  top: 47%;
  left: 35%;
  transform: scale(2);
  opacity: 85%;
}

.values-wrapper > h3 a:visited {
  color: white;
}

.values-wrapper:hover {
  filter: brightness(0.75);
}

.values-wrapper:hover > h3 a:visited {
  color: white;
}

.values-image {
  max-width: 100%;
  border-radius: 2%;
}

#enjoy {
  padding-left: 13%;
}

/* Intro text */

.intro {
  text-align: center;
  padding-top: 40px;
  padding-left: 20%;
  padding-right: 20%;
}

@media screen and (min-width: 1600px) {
  .values-wrapper > h3 {
    font-size: 25px;
  }
}

@media screen and (max-width: 1375px) {
  .values-grid {
    grid-template-columns: 1fr 1fr;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
  }
  .values-wrapper > h3 {
    font-size: 2vw;
    left: 33%;
  }
  .values-wrapper:hover > h3 {
    font-size: 2vw;
  }
  .values-image {
    min-width: 150px;
  }
}

@media screen and (max-width: 900px) {
  .intro {
    padding-left: 10%;
    padding-right: 10%;
  }

  .values-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .values-wrapper > h3 {
    visibility: revert;
    font-size: 3.5vw;
    top: 47%;
    left: 40%;
  }

  .values-wrapper > h3 a,
  .values-wrapper > h3 a:visited {
    color: white;
  }

  .values-wrapper:hover > h3 {
    visibility: revert;
    font-size: 3.5vw;
  }

  .awards-row {
    display: none;
  }

  .awards-carousel {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .carousel-item {
    width: auto;
  }
  .carousel-control-next-icon {
    background-color: black;
  }
  .carousel-control-prev-icon {
    background-color: black;
  }
  .carousel-image-awards {
    max-height: 250px;
    object-fit: contain;
  }
}

@media screen and (max-width: 600px) {
  .values-grid {
    padding: 0;
  }
  .values-wrapper > h3 {
    font-size: 35px;
    top: 47%;
    left: 35%;
  }
  .values-wrapper:hover > h3 {
    font-size: 35px;
  }
}

/* Testimonials */

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.testimonial-wrapper {
  position: relative;
}

.testimonial-wrapper > h4 {
  position: absolute;
  line-height: 1.2;
  color: white;
  font-style: italic;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  width: 80%;
}

.testimonial-image {
  max-width: 100%;
  height: auto;
  filter: brightness(0.65);
}

#testimonial-1 {
  filter: brightness(0.85);
}

@media screen and (max-width: 900px) {
  .testimonials {
    grid-template-columns: 1fr;
    margin-left: 10%;
    margin-right: 10%;
  }
  .testimonial-wrapper > h4 {
    font-size: 17px;
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .testimonials {
    margin-left: 0;
    margin-right: 0;
  }
  .testimonial-wrapper > h4 {
    font-size: 14px;
    width: 80%;
  }
}

.testimonial-heading {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
