/* Room Nav*/

.roomnav {
  margin: 0;
  padding: 0;
  background-color: white;
  list-style: none;
  text-align: center;
  padding: 30px 20px 0px 0px;
}

.roomnav > li {
  display: inline-block;
  padding: 0 25px 0 20px;
  font-size: 14px;
}

.roomnav > li > a {
  text-decoration: none;
  color: #212f3c;
}

.roomnav > li > a:hover {
  color: grey;
}

.nav-link.active {
  position: relative;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 20%;
  width: 60%;
  height: 1px;
  background-color: #00215e;
}
