/* @media (max-width: 930px) {
  .crt-stack.crt-widget .crt-stack-feed-container {
    flex-direction: column !important;
    width: 100% !important;
    height: 100% !important;
  }
  .crt-stack.crt-widget .crt-stack-post-content {
    padding: 0 0 !important;
    max-height: none !important;
  }
  .arrow-left-icon {
    left: 0px !important;
  }
  .arrow-right-icon {
    right: 0px !important;
  }
  .crt-post-text {
    padding: 0 22px 28px !important;
  }
  #curator-feed-default-feed-layout {
    height: 100% !important;
  }
} */
