.values-page {
  display: inline-flex;
  text-align: center;
  padding: 0px 50px 0px 50px;
  object-fit: cover;
  align-items: center;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 30px;
}

.values-page-image {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 320px;
}

.values-page-content {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .values-page {
    flex-direction: column;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .values-page {
    font-size: 4vw;
  }

  .values-page-image {
    height: 350px;
    width: auto;
  }

  .values-page-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
  }
}
